
.about {

    @include for-phone-only {
        width: 90%;
    }

    width: 80%;
    margin: 0 auto 40px;
    font-family: Arial,
    Helvetica,
    sans-serif;

    &__title {
        background-color: $light-grey;
        text-align: center;
        padding: 20px;
    }

    &__h1 {
        // @include fontSize(22px);
        // font-size: 22px;
        @include fontSizeParser(22px);
        color: $dark-grey;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .breadcrumb {
        // @include flx(justify-content, center);
        @include display-flex-all();
        // display: flex;
        // justify-content: center;
        // align-items: center;

        &__link {
            // @include fontSize(12px);
            // font-size: 12px;
            @include fontSizeParser(12px);
            text-decoration: none;
            color: $dark-grey;

            &:hover {
                text-decoration: underline;
                color: $purple;
            }
        }

        &__img {
            width: 12px;
            margin: 8px;
        }
    }

    &__img {
        width: 100%;
        @extend %double-margin-bottom;
        // margin-bottom: 20px;
    }

    &__intro {
        font-weight: 100;
        color: $dark-grey;
        width: 70%;
        margin: 30px auto;
        // font-size: 16px;
        @include fontSizeParser(16px);
        text-align: center;
        // @include fontSize(16px);

        @include for-phone-only {
            width: 90%;
        }

        @include for-tablet-only {
            width: 80%;
        }
    }

    &__split {
        // @include flx(justify-content, center);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    // &__img2 {
    //     width: $img-width;
    //     @include for-phone-only {   
    //         width: 80%;
    //     }
    // }

    &__img-description {
        width: $img-width;

        @include for-phone-only {
            width: 80%;
        }
    }

    &__txt {
        @include for-phone-only {   
            width: 90%;
            text-align: center;
        }
        width: calc(100% - #{$img-width});
        // width: auto;
    }

    &__p {
        padding: 10px 20px;
        // font-size: 14px;
        @include fontSizeParser(14px);
        color: $dark-grey;
        // @include fontSize(14px);

    }
}