
.footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    background-color: white;
    border-top: 1px solid $light-grey;
    margin-top: 20px;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &__logo {
        max-width: 100px;
    }

    &_txt {
        margin: auto;
        // font-size: 14px;
        @include fontSizeParser(14px);
    }
}