// * At Rule

// ! Variaveis

$purple: #A050BE;
$yellow: #FABE50;
$light-grey: #EAEAEB;
$dark-grey: #464646;
$img-width: 45%;

// ! Placeholder Selector

%no-decoration {
    text-decoration: none;
}

%underline-decoration {
    text-decoration: underline;
}

// ! Mixins

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex($property, $justify-content) {
    display: flex;
    #{$property}: $justify-content;
}

@mixin display-flex-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin for-phone-only {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1100.98px) {
        @content;
    }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin fontSizeParser($size) {
    // font-size: $size;
    font-size: calculatePixelToRem($size);
}

// ! Functions

@function calculatePixelToRem($pixels) {
    @return ($pixels / 16px) * 1rem;
}

// ! Pages

@import "header", "main", "footer", "article", "about";
